*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

header,
footer {
    background-color: #1F2937;
}

header {
    color: #F9FAF8;
    padding: 0 300px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 8px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 24px;
}

.hero {
    display: flex;
    gap: 3em;
    padding: 150px 0;
}

.hero-text {
    flex: 1 1 0;
}

.hero-text p {
    margin-bottom: 1em;
}

.hero-image {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(255 255 255 / 50%);
    color: black;
}

.info {
    padding: 3em;
}

h2 {
    font-size: 36px;
    text-align: center;
}

.info-tiles {
    display: flex;
    justify-content: center;
    gap: 3em;
    margin: 3em 0;
}

.tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5em;
    width: 170px;
}

.image {
    border: 4px solid #3882F6;
    border-radius: 20px;
    width: 170px;
    height: 170px;
}

.quote {
    background-color: #E5E7EB;
    padding: 150px 300px;
}

blockquote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300px;
    font-style: italic;
}

.quote-credit {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up {
    display: flex;    
    align-items: center;
    gap: 140px;
    background-color: #3882F6;
    margin: 50px 100px;
    padding: 50px 140px;
    color: white;
    border-radius: 10px;
}

.pop-up p:first-child {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}


button {
    background-color: #3882F6;
    border-style: none;
    width: 140px;
    border-radius: 10px;
    padding: 0.5em 1em;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.call-to-action button {
    border: 2px solid white;
}

.pop-up-text {
    width: 400px;
}

.secondary-text {
    color: #E5E7EB;
}

footer {
    padding: 2em;
    text-align: center;
}